# Ignore Paper server jar
paper-1.21.8-60.jar

# Paper server files
logs/
world/
world_nether/
world_the_end/
*.log
*.lock
*.jar.original
plugins/   # optional: only include your own plugin jars, not Movecraft etc.

# OS files
.DS_Store
Thumbs.db